[Unit]
Description=Light Strip
After=graphical.target

[Service]
ExecStart=/home/pi/psychic-fiesta/run_wrapper.sh

[Install]
WantedBy=graphical.target

